/*==============MOBILE============== */

@media screen and (min-width: 428px) {
  .container {
    max-width: 426px;
  }

  .header-container {
    max-width: 768px;
  }

  .modal {
    min-width: unset;
    width: 408px;
  }

  /* Мобільне меню */
  .phone-link {
    font-size: 36px;
  }

  .menu-soc-list {
    gap: 56px;
  }

  .card-caption {
    font-size: 20px;
  }
}

/*==============TABLET==============*/

@media screen and (min-width: 768px) {
  .container {
    max-width: 766px;
  }

  /*-----------Хедер-----------*/
  .header {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .logo {
    margin-right: 76px;
  }

  .mob-menu-open {
    display: none;
  }

  .mob-menu {
    display: none;
  }
  /* Навігація */

  .navigation {
    display: flex;
    align-items: center;
  }
  .nav-list {
    display: flex;
    gap: 40px;
  }

  .nav-list-link {
    position: relative;
    color: var(--dark-color);
    font-weight: 500;
    font-size: var(--text-size);
    line-height: var(--typical-lh);
    letter-spacing: var(--text-spacing);
    transition: var(--color-transition);
  }

  .nav-list-link:is(:hover, :focus) {
    color: var(--active-color);
  }

  .nav-underline {
    color: var(--active-color);
  }
  .nav-underline::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -30px;
    width: 100%;
    height: 4px;
    background-color: var(--active-color);
    border-radius: 2px;
  }

  /* Контакти */

  .address {
    display: block;
    font-style: normal;
    margin-left: auto;
  }

  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .address-link {
    color: var(--text-color);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    transition: var(--color-transition);
  }

  .address-link:is(:hover, :focus) {
    color: var(--active-color);
  }

  /*-----------Мейн-----------*/

  /* Hero */
  .hero-overlay {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-tab.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-overlay {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-tab@2x.jpg);
    }
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
  }

  /* Features */
  .features-list {
    column-gap: 24px;
  }

  .features-list-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .features-list-title {
    text-align: left;
  }

  /* Секція  команди */

  .team-gallery > .container {
    max-width: 582px;
  }

  .team-list {
    column-gap: 24px;
  }

  .team-list-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  /*  Секція: Наші клієнти */
  .customers > .container {
    max-width: 582px;
  }
  .customers-list {
    column-gap: 24px;
  }

  .customers-item {
    flex-basis: calc((100% - 24px * 2) / 3);
  }

  .customers-icon {
    width: 104px;
  }

  /*-----------Футер-----------*/
  .footer-container {
    max-width: 582px;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
  }

  .footer-text-container {
    display: block;
  }

  .footer-soc-container {
    display: block;
  }
  .footer-soc-list {
    justify-content: start;
  }

  .footer-subscribe-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .footer-subscribe-caption {
    text-align: left;
  }

  .footer-form {
    flex-direction: row;
    gap: 24px;
  }

  .footer-label {
    width: 264px;
  }

  /* PORTFOLIO */
  .projects {
    padding-top: 64px;
    padding-bottom: 96px;
  }

  .filters-list {
    justify-content: center;
    margin-bottom: 64px;
    max-width: unset;
  }

  .card-set {
    column-gap: 24px;
    row-gap: 72px;
  }

  .card-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}

/*==============DESKTOP==============*/

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }

  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  /*-----------Хедер-----------*/

  .header {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .header-container {
    align-items: center;
  }

  .address-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .address-link {
    color: var(--text-color);
    font-size: var(--text-size);
    line-height: var(--typical-lh);
    letter-spacing: var(--text-spacing);
  }

  .nav-list .nav-underline::after {
    bottom: -26px;
  }

  /*-----------Мейн-----------*/
  /* Hero */
  .hero {
    padding: 188px 0;
  }
  .hero-overlay {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-desk.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    ы .hero-overlay {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-desk@2x.jpg);
    }
  }

  /* Features */

  .features-icon-box {
    display: flex;
  }

  .features-list-item {
    flex-basis: calc((100% - 24px * 3) / 4);
  }

  .features-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .features-list-text {
    font-weight: 400;
  }

  /* Галерея: чим ми займаємось */
  .gallery {
    display: block;
    padding-top: 0;
  }

  .gallery-caption {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: var(--text-spacing);
    text-transform: capitalize;
    color: var(--dark-color);
    margin-bottom: 72px;
  }

  .gallery-list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--typical-gap);
  }

  .gallery-list-item {
    flex-basis: calc((100% - 48px) / 3);
  }

  /* Секція  команди */
  .team-gallery > .container {
    max-width: 1158px;
  }

  .team-list {
    column-gap: 24px;
  }

  .team-list-item {
    flex-basis: calc((100% - 72px) / 4);
  }

  /*  Секція: Наші клієнти */
  .customers > .container {
    max-width: 1158px;
  }

  .customers-item {
    flex-basis: calc((100% - 24px * 5) / 6);
  }

  /*-----------Футер-----------*/
  .footer-container {
    align-items: baseline;
    gap: 0;
  }

  .footer-text-container {
    margin-right: 120px;
  }

  .footer-subscribe-container {
    margin-left: auto;
  }

  /* PORTFOLIO */

  .projects {
    padding-top: 100px;
    padding-bottom: 120px;
  }

  .filters-list {
    margin-bottom: 72px;
  }

  .card-set {
    row-gap: 48px;
  }

  .card-item {
    flex-basis: calc((100% - 24px * 2) / 3);
  }
}
